nav {
    background-color: #0074ba;
}

#logo {
    max-width: 13rem;
    margin-top: 1%;
    margin-bottom: .75%;
}

#submit {
    margin-top: 2.5%;
}

#doc {
    max-height: 60px;
    margin-top: 2px;
    margin-right: 12px;
}